<div class="row row-cols-1 row-cols-md-3 g-4">
  
    {% for note in notes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-dark text-decoration-none" href="{% url 'show-note' note.uuid %}">{{ note.title }}</a>
                    </h5>
                    <p class="card-text">{{ note.content }}</p>
                </div>
            <div class="card-footer">
        <small class="text-body-secondary">Создано: {{ note.mod_time }}</small>
        <small class="text-body-secondary">Последнее изменение: {{ note.mod_time }}</small>
      </div>
    </div>
  </div>
    {% endfor %}

</div>    